**/.DS_Store
*__pycache__*

# cache directories
.pytest_cache/
.ruff_cache/

# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# PyCharm
.idea